@model IEnumerable<FilmWorldCinemaProject_MVC_.Models.DbModel.Seat>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            <span>Cinema</span>
        </th>
        <th>
            <span>Hall</span>
        </th>
        <th>
            <span>Row</span>
        </th>
        <th>
            <span>Count</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CinemaHall.Cinemas.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CinemaHall.Halls.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Row.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Count)
    </td>
    <td>
        <a href="@Url.Action("EditHallCinemaRow","Row", new { id = item.Id })">
            <i class="fas fa-edit" style="font-size:30px;"></i>

        </a>
        @*@Html.ActionLink("Delete", "DeleteHallCinemaRow", new { id = item.Id })*@

        <a onclick="return confirm('Eminsinizmi?')" href="@Url.Action("DeleteHallCinemaRow", "Row", new { id = item.Id })">
            <i class="far fa-trash-alt" style="font-size:30px;"></i>

        </a>
    </td>
</tr>
}

</table>
