@model IEnumerable<FilmWorldCinemaProject_MVC_.Models.DbModel.Seat>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            <span>Cinema</span>
        </th>
        <th>
            <span>Hall</span>
        </th>
        <th>
            <span>Row</span>
        </th>
        <th>
            <span>Count</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CinemaHall.Cinemas.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CinemaHall.Halls.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Row.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Count)
    </td>
    <td>
        @Html.ActionLink("Edit", "EditHallCinemaRow", new { id = item.Id }) |
        @Html.ActionLink("Delete", "DeleteHallCinemaRow", new { id = item.Id })
    </td>
</tr>
}

</table>
