@model IEnumerable<FilmWorldCinemaProject_MVC_.Models.DbModel.Cinema>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.Id })">
                <i class="fas fa-edit" style="font-size:30px;"></i>

            </a>

       
            <a href="@Url.Action("Delete", new { id = item.Id })">
                <i class="far fa-trash-alt" style="font-size:30px;"></i>

            </a>
        </td>
    </tr>
}

</table>
