<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><ul>@Html.ActionLink("Cinema", "Index", "Cinema")
                    <li>

                        @Html.ActionLink("Add Cinema", "Create", "Cinema")

                    </li>

                </ul>
            </li>*@
                    <li>
                        @Html.ActionLink("Film List", "Index", "Film")
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Cinema</button>
                            <div class="dropdown-content">
                                @Html.ActionLink("Cinema List", "Index", "Cinema")
                                @Html.ActionLink("Add Cinema", "Create", "Cinema")
                                @Html.ActionLink("Add Hall for Cinema", "CreateHallCinema", "Hall")
                                @Html.ActionLink("List of CinemaHalls", "HallCinemaList", "Hall")
                            </div>
                        </div>
                    </li>
                    <li>

                        <div class="dropdown">
                            <button class="dropbtn">Seat</button>
                            <div class="dropdown-content">
                                @Html.ActionLink("SeatList", "List", "Row")
                                @*@Html.ActionLink("Add Cinema", "Create", "Cinema")
                        @Html.ActionLink("Add Hall for Cinema", "CreateHallCinema", "Hall")
                        @Html.ActionLink("List of CinemaHalls", "HallCinemaList", "Hall")*@
                            </div>
                        </div>
                    </li>
                    <li>

                        <div class="dropdown">
                            <button class="dropbtn">Row&Hall</button>
                            <div class="dropdown-content">
                                @Html.ActionLink("RowList", "Index", "Row")
                                @Html.ActionLink("HallList", "Index", "Hall")

                            </div>
                        </div>
                    </li>
                    <li>

                        @*@Html.ActionLink("Logout", "Logout", "Home")*@

                    </li>

                </ul>

                <div class="pull-right">
                    <div class="btn-group">
                        <a href="@Url.Action("Logout","Home")" class="btn btn-success">Logout</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
