@model FilmWorldCinemaProject_MVC_.Models.FilmDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>

    <hr />



    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Film
                </th>
                <th>
                    Janr
                </th>


            </tr>
        </thead>
        <tbody>



            @foreach (var janr in Model.FilmJanr)
            {
            <tr>
                <td>
                    @janr.Films.Name
                 
                </td>
                <td>
                    @janr.Janrs.Name
                </td>
            </tr>
                    }

               



            </tbody>
    </table>

   
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Film
                </th>
                <th>
                    Country
                </th>


            </tr>
        </thead>
        <tbody>



            @foreach (var c in Model.FilmCountry)
            {
                <tr>
                    <td>
                        @c.Films.Name

                    </td>
                    <td>
                        @c.Countries.Name
                    </td>
                </tr>
            }




        </tbody>
       
        
            @{
                string split = Model.Films.Link.Split('=')[1];
            }
            <tr>
                <td>
                    @Model.Films.Name

                </td>
                <td>
                    <iframe width="500" height="500" src="https://www.youtube.com/embed/@split" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </td>
            </tr>
        
      
    </table>



</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@ 
    @Html.ActionLink("Back to List", "Index")
</p>
